.creations{
    margin-top: 150px;
}

.creations_container{
    width: 1000px;
    margin: auto;
}

.creations_container .title_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creations_container .title_container h1{
    text-transform: uppercase;
    font-size: 38px;
    font-weight: lighter;
}

.creations_container .cta{
    width: 110px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    text-transform: uppercase;
    outline: none;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .45s ease all;
}


.creations_container .cta:hover{
    background-color: black;
    color: white;
}


.creations_container .card_row{
    display: flex;
    justify-content: space-between;
}

.creations_container .card_row .card{
    flex: 1;
    margin: 15px;
    height: 400px;
    background-color: brown;
    position: relative;
}

.creations_container .card_row .card:last-child{
    margin-right: 0;
}
.creations_container .card_row .card:first-child{
    margin-left: 0;
}

.creations_container .card_row .card:hover{
    background-color: white;
    opacity: 50%;
    cursor: pointer;
}

.creations_container .card_row .card img{
    width: 100%;
}

.creations_container .card_row .card p{
    position: absolute;
    bottom: 5px;
    left: 35px;
    font-size: 28px;
    text-transform:uppercase;
    color: white;
}